<body>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="text-align: center; color: white;">CREATE PRODUCT</h1>
<form class="example-form" [formGroup]="createinvForm">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="productName">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Image</mat-label>
    <input matInput formControlName="image"/>
  </mat-form-field>
  <button mat-raised-button style="background-color: #30475E; color: white; margin-left: 200px;font-family: fantasy; font-size: 20px"(click)="createItem()">CREATE</button>

</form>



</body>
