@font-face {
  font-family: 'Crunchy Time';
  src: url('/assets/Crunchy Time.ttf') format('truetype');
}
h1{
  font-family: fantasy;
  font-size: 48px;
}
body{
  background-image: url("/assets/simply1.jpg");
}
.example-form {
  margin-left: 500px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
