@font-face {
  font-family: 'Crunchy Time';
  src: url('/assets/Crunchy Time.ttf') format('truetype');
}
body{
  background-image: url("/assets/s.jpg");
  width: 1500px;
  height: 800px;
}
.title{
  font-family: fantasy;
  color: #30475E;
  font-size: 84px;
  margin-left: 24px;

}

