@font-face {
  font-family: 'Crunchy Time';
  src: url('/assets/Crunchy Time.ttf') format('truetype');
}
h1{
  font-family: fantasy;
  font-size: 48px;
}
body{
  background-image: url("/assets/simply1.jpg");
}
form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

textarea, select {
  width: 300px;
  padding: 5px;
  margin-bottom: 20px;
}

.advice{
  font-size: 20px;
  color: white;
}

