img{
  width: 400px;
  height: 400px;
}
.product-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dos columnas de ancho igual */
  gap: 20px;


}
body{
  background-image: url("/assets/p.jpg");
}
